@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #fea116;
  --primary-box-shadow: rgba(254, 161, 22, 0.6);
  --light: #F1F8FF;
  --dark: #0f172b;
  --font: "Nunito", sans-serif;
  --font-pacifico: "Pacifico", cursive;
}

*:not(i),
*:not(i)::before {
  font-family: var(--font);
}

body {
  background-color: #f1f8ff;
}

.bg-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(15, 23, 43, 0.9)), to(rgba(15, 23, 43, 0.9))), url(./images/bg-hero.jpg);
  background: linear-gradient(rgba(15, 23, 43, 0.9), rgba(15, 23, 43, 0.9)), url(./images/bg-hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@layer base {
  .hide {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .reveal {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.focus {
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.focus:focus, .focuse:focus-visible {
  -webkit-box-shadow: 0px 0px 0px 4px var(--primary-box-shadow);
          box-shadow: 0px 0px 0px 4px var(--primary-box-shadow);
}

@-webkit-keyframes mySpin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes mySpin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}
@keyframes fadeIn {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}